In [1]:
import pandas as pd
import json, glob

with open(glob.glob('*parcel*.geojson')[0]) as fp:
    txt = fp.read()
    txt = '[' + txt.strip().replace('\n', ',\n') + ']'
    data = json.loads(txt)

for i in range(len(data)):
    data[i].update(data[i]['properties'])

In [3]:

df = pd.DataFrame(data)

#df['latitude'] = df.geometry.apply(lambda x: x['coordinates'][1])
#df['longitude'] = df.geometry.apply(lambda x: x['coordinates'][0])
df = df.drop(columns=['properties', 'geometry', 'hash'])

df.to_csv('nc_wake_parcels.csv', index=False)
df

           type         pid
0       Feature  1701518493
1       Feature  0745330365
2       Feature  0753213162
3       Feature  1743771655
4       Feature  1850055078
...         ...         ...
399362  Feature  1812523327
399363  Feature  1812524348
399364  Feature  1812619580
399365  Feature  1850469366
399366  Feature  0793640575

[399367 rows x 2 columns]

In [ ]:
df.sample(15)

,type,number,street,unit,city,district,region,postcode,id,latitude,longitude
60131,Feature,117,LYLE RD,,RALEIGH,,,,,35.665176,-78.676310
46468,Feature,2108,CRISPLAND CT,,FUQUAY VARINA,,,,,35.623107,-78.746116
71978,Feature,3025,SENTINEL FERRY LN,,CARY,,,,,35.808485,-78.921901
269275,Feature,1003,BUCKHORN RD,,GARNER,,,,,35.704868,-78.634521
230081,Feature,500,ROYAL ST,,RALEIGH,,,,,35.792757,-78.688663
221853,Feature,5308,MACON FOREST PL,,RALEIGH,,,,,35.928086,-78.698729
253865,Feature,1101,HAMMERMAN DR,,WILLOW SPRING,,,,,35.583506,-78.660222
466688,Feature,501,PEARCE AVE,,WAKE FOREST,,,,,35.978626,-78.504695
115230,Feature,108,LITTLEFORD LN,,CARY,,,,,35.785974,-78.852321
389364,Feature,6429,EXPERTISE AVE,,RALEIGH,,,,,35.860700,-78.532727
71723,Feature,709,AVOCA CT,,CARY,,,,,35.799364,-78.922945
256802,Feature,5016,SWORDFISH DR,,RALEIGH,,,,,35.638654,-78.644659
17015,Feature,947,BRIAR GATE DR,,HOLLY SPRINGS,,,,,35.600745,-78.821046
402975,Feature,501,BAYOU CT,,KNIGHTDALE,,,,,35.790665,-78.499732
2016,Feature,708,HOLLY THORN TRCE,,HOLLY SPRINGS,,,,,35.638136,-78.872156